### Question 1

In [2]:
shopping = ["spam", "ham", "eggs", "ham"]

In [3]:
shopping[1]

'ham'

In [5]:
shopping[0:3]

['spam', 'ham', 'eggs']

In [8]:
shopping[-3]

'ham'

### Question 2

In [9]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [10]:
stops.append("Edinburgh Waverley")

In [11]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [16]:
stops.insert(0, "Queen Street")

In [17]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [18]:
stops.index("Croy")

1

In [19]:
stops.insert(4, "Polmont")

In [20]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [21]:
stops.remove("Haymarket")

In [22]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [23]:
stops.clear()

In [24]:
stops

[]

### Question 3

In [25]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [26]:
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [30]:
person["name"]

'Steph'

In [34]:
person.update({
    "email" : "steph@codeclan.com"
})

### Question 4

In [39]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [49]:
even_numbers = []
for number in numbers:
    if number %2 == 0:
        even_numbers.append(number)

print(even_numbers)

[6, 2, 2, 6]

### Question 5

In [50]:
python_is_fun = True
python_is_weird = True
if python_is_fun = True & python_is_weird = True:
    print("Woo Python!")

SyntaxError: invalid syntax (<ipython-input-50-3eb0df9e4421>, line 3)